* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 1rem;
}

.header-title {
  font-size: 3rem;
}
.nav-bar ul li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
.nav-bar ul li:first-child {
  margin-left: 0;
}
.nav-bar ul li a {
  font-size: 1.3rem;
  color: rgb(28, 23, 56);
  font-weight: 700;
  text-decoration: none;
  margin: 1rem;
}

.nav-bar ul li a:hover {
  font-weight: 800;
  color: darkred;
}

h1 {
  color: rgb(28, 23, 56);
  font-size: 7rem;
  font-weight: 900;
  padding-left: 1rem;
}

p {
  padding-left: 1rem;
  font-family: "Poppins", sans-serif;
  margin-top: 3rem;
  font-size: 2rem;
}

.hero {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.info {
  align-self: center;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  font-size: 1.8rem;
  margin-top: 5rem;
  padding-left: 1rem;
  color: white;
  background-color: rgb(211, 89, 45);
  height: 5rem;
  border: none;
  width: 20rem;
  border-radius: 3rem;
  cursor: pointer;
}

button:hover {
  border: solid 1px rgb(211, 89, 45);
  background-color: rgb(232, 213, 185);
  color: rgb(211, 89, 45);
  font-weight: 600;
}

.dishes {
  margin: 100px 0;
  background-color: lightgray;
  border-radius: 2rem;
}
.dishes__title {
  color: #333;
  font-weight: bold;
  text-align: center;
  padding-top: 1.5rem;
  margin-bottom: 50px;
  font-size: 3rem;
}

.dishes__grid {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 200px));
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  justify-content: center;
}
.dishes__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.dishes__grid img {
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dishes__grid img:hover {
  transform: translateY(-10px);
  animation: bounce 0.5s infinite alternate;
}

.dishes-item-big {
  grid-area: 1/1/3/3;
}

.menu-title {
  font-size: 2rem;
  color: #333;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5rem;
}

.menu-grid-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 200px));
  justify-content: center;
  gap: 1rem;
  margin-bottom: 7rem;
}

.menu-grid-item img {
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.menu-grid-item img:hover {
  transform: translateY(-10px);
  animation: bounce 0.5s infinite alternate;
}

.menu-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: rgb(246, 205, 212);
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

@media screen and (max-width: 768px) {
  .heroimg {
    grid-template-columns: minmax(300px, 500px);
    justify-content: center;
  }
  .hero-img {
    display: flex;
  }
  p {
    text-align: left;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 4rem;
  }
}

/*footer testimonials*/

.testimonials {
  border-radius: 2rem;
  font-size: 2rem;
  padding-top: 3rem;
  text-align: center;
  background-color: lightgray;
}

.inner {
  max-width: 1200px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;

  gap: 2rem;
  padding: 2rem;
  grid-auto-rows: auto;
}

.col {
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px rgba(2, 2, 2, 0.4);
  background-color: #faf8f8;
}

.testimonial {
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease;
  padding: 30px;
}

.testimonial:hover {
  transform: translateY(-10px);
  animation: bounce 0.5s infinite alternate;
}

.testimonial .name {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.testimonial p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.testimonial .testimonial-profile {
  border: 4px solid grey;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

@media screen and (max-width: 980px) {
  .row {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .name {
    text-align: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
